// B&W Colors
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Transparent B&W Colors
$trans-white:    #ffffffb7;
$trans-gray-100: #f8f9fa75;
$trans-gray-200: #e9ecef4b;
$trans-gray-300: #dee2e67b;
$trans-gray-400: #ced4da67;
$trans-gray-500: #adb5bd75;
$trans-gray-600: #6c757d70;
$trans-gray-700: #495057a8;
$trans-gray-800: #343a40a1;
$trans-gray-900: #212529e7;
$trans-black: #000000f3;

// Theme Colors
$background-light: #00bbff49;
$background-dark: #001f2788;

// Alt Colors
$glow-purp: #7c387fb1;
$led: #35ff7ce4;
$traffic-dark: #411b00f3;
$traffic-orange: #fa9704f3;
$traffic-green: #88ffafa5;
$traffic-yellow: #fdfb89;